# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed) 
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
# locks files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignorar entorno virtual de tests
/tests/.venv/

# Ignorar archivos de Python compilados en tests
/tests/__pycache__/
/tests/**/*.pyc
/tests/**/*.pyo
/tests/**/*.pyd

# Ignorar logs y resultados de pruebas en tests
/tests/**/*.log
/tests/htmlcov/

# Ignorar archivos de configuración locales en tests
/tests/.env

# Ignorar archivos de sistema en tests
/tests/.DS_Store
/tests/Thumbs.db

# Ignorar drivers y binarios temporales en tests
/tests/chromedriver/driver.exe

# Ignorar carpetas de IDE en tests
/tests/.vscode/
/tests/.idea/